<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../static/fragments/layout :: site-head">
    <title>CEC Consultants - Broker Management System</title>
</head>
<body>
<div th:replace="../static/fragments/layout :: header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CEC Consultants - Broker
                    Management System</a>
            </div>
            <ul class="nav navbar-nav">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout" th:href="@{/logout}">Logout</a></li>
                </ul>
            </ul>
        </div>
    </nav>
</div>
<div class="container-fluid">

    <h1>System Settings</h1>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">System Settings</div>
                <div class="panel-body">
                    <ul>
                        <li sec:authorize="hasAnyAuthority('SUPERADMIN')"><a href="/admin/contractreason/index">Lost Renewal Reasons</a></li>
                        <li sec:authorize="hasAnyAuthority('SUPERADMIN')"><a href="/admin/doNotRenewReason/index">Do Not Renew Reasons</a></li>
                        <li sec:authorize="hasAnyAuthority('SUPERADMIN')"><a href="/admin/system-setting/plugins">Plugins</a></li>
                        <li sec:authorize="hasAnyAuthority('SUPERADMIN')"><a href="/admin/data/edit-dialler-config">Edit Dialler Config</a></li>
                        <li sec:authorize="hasAnyAuthority('SUPERADMIN')"><a href="/admin/system-setting/email-settings/index">Email Settings</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="../static/fragments/layout :: footer"/>
</body>
</html>
