<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="../static/fragments/layout :: site-head">
    <title>Brokers</title>
</head>
<body>
<header th:replace="../static/fragments/layout :: header"/>
<div class="container-fluid">
    <h2>Edit Customer Child Note</h2>
    <form class="form-horizontal" method="post" role="form" th:action="@{/addChildNote}" th:object="${customerChildNote}">
        <input th:field="*{id}" type="hidden"/>
        <input th:field="*{customerNote}" type="hidden"/>
        <input id="customer" name="customer" th:value="${customerChildNote.customer.id}" type="hidden"/>
        <div class="form-group">
            <div class="col-sm-6">
                <select class="form-control input-sm" th:field="*{replyTaggedUser}">
                    <option value="">Tagged User</option>
                    <option th:each="u:${users}" th:text="${u.firstName}+' '+${u.lastName}" th:value="${u.id}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                 <textarea class="form-control input-sm"
                           cols="100"
                           placeholder="Enter note here"
                           rows="5"
                           th:field="*{message}">
                 </textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label class="small">Completed: <input th:field="*{replyCompleted}" type="checkbox"/></label>
            </div>
            <div class="col-sm-3">
                <input class="form-control input-sm" id="altReplyDueByDate" name="altReplyDueByDate" placeholder="Due by Date" readonly="readonly"
                       th:value="*{replyDueByDate != null} ? *{#dates.format(replyDueByDate, 'dd/MM/yyyy')}" type="text"/>
                <input th:field="*{replyDueByDate}" th:value="*{replyDueByDate}" type="hidden"/>
            </div>
            <div class="col-sm-3">
                <select class="form-control input-sm" th:field="*{replyPriority}">
                    <option value="LOW">LOW</option>
                    <option value="MEDIUM">MEDIUM</option>
                    <option value="HIGH">HIGH</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Quick Win: <input th:field="*{quickWin}" type="checkbox"/></label>
            </div>
            <div class="col-sm-2">
                <select class="form-control input-sm" th:field="*{replyRelatedTo}">
                    <option value="">Related to</option>
                    <option th:each="relatedTo : ${T(mycrm.configuration.RelatedTo).values()}"
                            th:text="${relatedTo}" th:value="${relatedTo}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4">
                <button class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-save"></span> Update Note
                </button>
            </div>
        </div>
    </form>
</div>


<div th:replace="../static/fragments/layout :: footer"/>
</body>
</html>
