<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../static/fragments/layout :: site-head">
<title>View customer</title>
</head>
<body>
	<header th:replace="../static/fragments/layout :: header" />
	<div class="container-fluid" sec:authorize="isAuthenticated()">
		<h3 th:text="${customerSite.siteName}">Consumption</h3>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-warning">
					<div class="panel-heading">Gas Consumption History</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-condensed">
								
							</table>
						</div>
						<form class="form-horizontal" th:object="${annualGasConsumption}" th:action="@{/updateAnnualGasConsumption}" method="post">
							<input type="hidden" th:field="*{id}" /> <input type="hidden" th:field="*{version}" /> <input type="hidden" id="createdBy" name="createdBy"
								th:value="${#authentication.principal.id}" /> <input type="hidden" id="gasCustomerContract" name="gasCustomerContract"
								th:value="${gasCustomerContractId}" />
							<div class="form-group">
								<label class="control-label col-sm-3" for="annualConsumption">Annual Gas Consumption</label>
								<div class="col-sm-4">
									<input type="text" class="form-control input-sm" placeholder="Annual Consumption" th:field="*{annualConsumption}" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="consumptionType">Consumption Type</label>
								<div class="col-sm-4">
									<input type="text" class="form-control input-sm" placeholder="Consumption Type" th:field="*{consumptionType}" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-10">
									<button type="submit" class="btn btn-success btn-sm">Submit Gas Consumption</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-success">
					<div class="panel-heading">Electricity Consumption History</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-condensed">
								
							</table>
						</div>
						<form class="form-horizontal" th:object="${annualElectricityConsumption}" th:action="@{/updateAnnualElectricityConsumption}" method="post">
							<input type="hidden" th:field="*{id}" /> <input type="hidden" th:field="*{version}" /> <input type="hidden" id="createdBy" name="createdBy"
								th:value="${#authentication.principal.id}" /> <input type="hidden" id="elecCustomerContract" name="elecCustomerContract"
								th:value="${elecCustomerContractId}" />
							<div class="form-group">
								<label class="control-label col-sm-3" for="annualConsumption">Annual Electricity Consumption</label>
								<div class="col-sm-4">
									<input type="text" class="form-control input-sm" placeholder="Annual Consumption" th:field="*{annualConsumption}" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="consumptionType">Consumption Type</label>
								<div class="col-sm-4">
									<input type="text" class="form-control input-sm" placeholder="Consumption Type" th:field="*{consumptionType}" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-10">
									<button type="submit" class="btn btn-success btn-sm">Submit Electricity Consumption</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="../static/fragments/layout :: footer" />
</body>
</html>
