<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../static/fragments/layout :: site-head">
    <title>Customer Management</title>
    <link th:rel="stylesheet" th:href="@{/assets/izitoast/css/iziToast.css} "/>
</head>
<body>
<header th:replace="../static/fragments/layout :: header"/>
<script th:if="${merchantServicesContract.id}" th:inline="javascript">
    /*<![CDATA[*/
    showMerchantServiceContractNotes(/*[[${merchantServicesContract.id}]]*/);
    showTpsContactsList(/*[[${customerSite.customer.id}]]*/);
    /*]]>*/


</script>
<div class="container-fluid">
    <h1 th:text="${customerSite.fullSiteNameAndAddress}">Site</h1>
    <h2>Manage Merchant Services Contract</h2>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    <p>This contract will be permanently deleted and cannot be recovered. Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger btn-sm" id="delButton" sec:authorize="hasAuthority('SUPERADMIN')"
                       th:href="@{/admin/customer/deleteMerchantContract/{id}/(id=${merchantServicesContract.id})}">Delete
                        Permanently</a>
                    <button class="btn btn-success btn-sm" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Customer details</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Customer Reference</th>
                            <th>Company Registration No</th>
                            <th>Business Name</th>
                            <th>Site Name</th>
                            <th>Site Post Code</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a th:href="@{/admin/customer/view/{id}/(id=${customerSite.customer.id})}"
                                   th:inline="text">[[${customerSite.customer.customerReference}]]</a>
                            </td>
                            <td th:text="${customerSite.registrationNo}">Registration Number</td>
                            <td><a th:href="@{/admin/customer/view/{id}/(id=${customerSite.customer.id})}"
                                   th:inline="text">[[${customerSite.customer.businessName}]]</a>
                            </td>
                            <td th:text="${customerSite.siteName}">Customer Site Name</td>
                            <td th:text="${customerSite.sitePostcodeOut} + ' ' +${customerSite.sitePostcodeIn}">Customer
                                Site Post Code Out and In
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="contactDetails">
            <!--				TPS Contact Details go here -->
        </div>
    </div>

    <div class="col-md-6" id="merchantServiesConfirm">
        <div class="well well-sm">
            <form class="form-horizontal" id="merchantServiesConfirmForm" method="post"
                  th:action="@{/merchantServicesContract}" th:object="${merchantServicesContract}">
                <input th:field="*{id}" type="hidden"/>
                <input id="customerSite" name="customerSite" th:value="${customerSite.id}" type="hidden"/>
                <div class="form-group" sec:authorize="!hasAnyAuthority('BROKER','EXTERNAL_BROKER')">
                    <div class="col-md-12">
                        <div class="panel panel-warning">
                            <div class="panel-heading">Checklist</div>
                            <div class="panel-body">
                                <label class="checkbox-inline"><input th:field="*{contractSentToCustomer}"
                                                                      type="checkbox"/>Contract Sent To Customer</label>
                                <label class="checkbox-inline"><input th:field="*{contractReceived}" type="checkbox"/>Contract
                                    Received</label>
                                <label class="checkbox-inline"><input th:field="*{welcomePackSentToCustomer}"
                                                                      type="checkbox"/>Welcome Pack Sent To
                                    Customer</label>
                                <label class="checkbox-inline"><input th:field="*{previousSupplyTerminated}"
                                                                      type="checkbox"/>Previous Supply
                                    Terminated</label>
                                <label class="checkbox-inline"><input th:field="*{currentSupplyTerminated}"
                                                                      type="checkbox"/>Current Supply Terminated</label>
                                <label class="checkbox-inline"><input th:field="*{courtesyCall}" type="checkbox"/>Courtesy
                                    Call Made</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="merchantId">Merchant ID</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm"
                               placeholder="Merchant ID"
                               th:field="*{merchantId}"
                               type="text"/>
                    </div>
                </div>
                <div class="form-group" sec:authorize="!hasAnyAuthority('BROKER','EXTERNAL_BROKER')">
                    <label class="control-label col-md-4" for="brokerId">Broker</label>
                    <div class="col-md-8">
                        <select class="form-control input-sm" id="broker" name="broker">
                            <option th:each="b:${brokers}" th:text="${b.businessName}" th:value="${b.id}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group" sec:authorize="hasAnyAuthority('BROKER','EXTERNAL_BROKER')">
                    <label class="control-label col-md-4" for="brokerId">Broker</label>
                    <a data-placement="right"
                       data-toggle="tooltip"
                       href="#"
                       title="As a broker you are have been selected by default!">
        <span
                class="glyphicon glyphicon-info-sign"></span></a>
                    <div class="col-md-8">
                        <select class="form-control input-sm" id="broker" name="broker">
                            <option th:each="b:${brokers}" th:if="${b.id == #authentication.principal.broker?.id}"
                                    th:text="${b.businessName}" th:value="${b.id}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="currentSupplier">Current Supplier</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" placeholder="Current Supplier"
                               th:field="*{currentSupplier}" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Analytic Charge</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" th:field="*{analyticCharge}" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Compliance Charge</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" th:field="*{complianceCharge}" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Faster Payment</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" th:field="*{fasterPayment}" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Transaction Authorisation charge</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" th:field="*{transactionAuthorisationCharge}" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Credit Card Charge (%)</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" th:field="*{creditCardCharge}" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Debit Card Charge (%)</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" th:field="*{debitCardCharge}" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Pre-Authorisation / customer not present</label>
                    <div class="col-sm-4">
                        <select class="form-control input-sm" th:field="*{preAuthorisationCustomerNotPresent}">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Contract Start date</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" id="altStartDate" name="altStartDate"
                               placeholder="Start Date" readonly="readonly"
                               th:value="*{startDate != null} ? *{#dates.format(startDate, 'dd/MM/yyyy')}" type="text"/>
                        <input id="startDate" name="startDate" th:value="*{startDate}" type="hidden"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="contractMonthlyDuration">Contract Term</label>
                    <div class="col-md-8">
                        <select class="form-control input-sm" th:field="*{contractMonthlyDuration}">
                            <option th:each="i : ${#numbers.sequence( 0, 60)}" th:value="${i}" th:text="${i}+' Months'">
                                1
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Contract End Date</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" id="altEndDate" name="altEndDate" placeholder="End Date"
                               readonly="readonly"
                               th:value="*{endDate != null} ? *{#dates.format(endDate, 'dd/MM/yyyy')}" type="text"/>
                        <input id="endDate" name="endDate" th:value="*{endDate}" type="hidden"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Make/Model of Terminal</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" placeholder="Make/Model of Terminal"
                               th:field="*{terminalMakeModel}" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Type of Connection of Terminal</label>
                    <div class="col-md-8">
                        <select class="form-control input-sm" th:field="*{terminalConnectionType}">
                            <option th:each="terminalConnectionType : ${T(mycrm.configuration.TerminalConnectionType).values()}"
                                    th:text="${terminalConnectionType}" th:value="${terminalConnectionType}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Charging station</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm"
                               placeholder="Charging station"
                               th:field="*{chargingStation}"
                               type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Number of Terminals</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm"
                               th:field="*{numberOfTerminals}"
                               type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Average Transaction</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm"
                               th:field="*{averageTransaction}"
                               type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Annual Turnover</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm"
                               th:field="*{annualTurnover}"
                               type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">F2F (%)</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm"
                               th:field="*{f2fPercentage}"
                               type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Over Phone (%)</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm"
                               th:field="*{overPhonePercentage}"
                               type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Customer Name</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm"
                               placeholder="Customer Name"
                               th:field="*{customerName}"
                               type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Legal Trading Name</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm"
                               placeholder="Legal Trading Name"
                               th:field="*{legalTradingName}"
                               type="text"/>
                    </div>
                </div>
                <!--<div class="form-group">
                  <label class="control-label col-md-4">Legal Address</label>
                  <div class="col-md-8">
                    <input class="form-control input-sm"
                           placeholder="Legal Address"
                           th:field="*{legalAddress}"
                           type="text"/>
                  </div>
                </div>-->
                <div class="form-group">
                    <label class="control-label col-md-4" for="businessAddr">Address Line 1</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control input-sm" placeholder="Address line 1"
                               th:field="*{businessAddr}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="businessAddr">Address Line 2</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control input-sm" placeholder="Address line 2"
                               th:field="*{businessAddr1}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="businessCity">City</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control input-sm" placeholder="City" th:field="*{businessCity}"
                               required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="businessPostcode">Postcode</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control input-sm" th:field="*{businessPostcodeOut}"/>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control input-sm" th:field="*{businessPostcodeIn}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Ownership Type</label>
                    <div class="col-md-8">
                        <select class="form-control input-sm" id="permit">
                            <option>select ownership type</option>
                            <option th:each="ownerShipType : ${T(mycrm.configuration.OwnershipType).values()}"
                                    th:text="${ownerShipType}" th:value="${ownerShipType}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="upload-file-input">Proof of Identity :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control input-sm" id="proofIdentity" name="proofIdentity"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="upload-file-input"></label>
                    <div class="col-sm-8">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Add attach file
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="upload-file-input">Proof of Business :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control input-sm" id="proofBusiness" name="proofBusiness"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="upload-file-input"></label>
                    <div class="col-sm-8">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Add attach file
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="upload-file-input">Proof of Bank :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control input-sm" id="proofBank" name="proofBank"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="upload-file-input"></label>
                    <div class="col-sm-8">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Add attach file
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Incorporation Date</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm" id="altIncorporationDate" name="altIncorporationDate"
                               placeholder="Incorporation Date" readonly="readonly"
                               th:value="*{incorporationDate != null} ? *{#dates.format(incorporationDate, 'dd/MM/yyyy')}"
                               type="text"/>
                        <input id="incorporationDate" name="incorporationDate" th:value="*{incorporationDate}"
                               type="hidden"/></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Company Registration</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm"
                               placeholder="Company Registration"
                               th:field="*{companyRegistration}"
                               type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">VAT number</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm"
                               placeholder="VAT Number"
                               th:field="*{vatNumber}"
                               type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">NI number</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm"
                               placeholder="NI number"
                               th:field="*{nationalInsuranceNumber}"
                               type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Corporation Tax Number</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm"
                               placeholder="Corporation Tax Number"
                               th:field="*{corporationTaxNumber}"
                               type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Business Description</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm"
                               placeholder="Business Description"
                               th:field="*{businessDescription}"
                               type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Proof of Identity</label>
                    <div class="col-md-8">
                        <select class="form-control input-sm" th:field="*{proofOfIdentity}">
                            <option th:each="proofOfIdentity : ${T(mycrm.configuration.ProofOfIdentity).values()}"
                                    th:text="${proofOfIdentity}" th:value="${proofOfIdentity}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Proof of Business</label>
                    <div class="col-md-8">
                        <select class="form-control input-sm" th:field="*{proofOfBusiness}">
                            <option th:each="proofOfBusiness : ${T(mycrm.configuration.ProofOfBusiness).values()}"
                                    th:text="${proofOfBusiness}" th:value="${proofOfBusiness}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Proof of Bank Statement Provided</label>
                    <div class="col-md-8">
                        <select class="form-control input-sm" th:field="*{proofOfBankStatementProvided}">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Log Type</label>
                    <div class="col-md-8">
                        <select class="form-control input-sm" th:field="*{logType}">
                            <option th:each="logType : ${T(mycrm.configuration.LogType).values()}"
                                    th:text="${logType}" th:value="${logType}"></option>
                        </select>
                    </div>
                </div>
                <!--<div class="form-group">
                  <label class="control-label col-md-4">Priority</label>
                  <div class="col-md-8">
                    <select class="form-control input-sm" th:field="*{contractPriority}">
                      <option value="">Please select</option>
                      <option th:each="contractPriority : ${T(mycrm.configuration.ContractPriority).values()}"
                              th:text="${contractPriority}" th:value="${contractPriority}"></option>
                    </select>
                  </div>
                </div>-->
                <div class="form-group">
                    <label class="control-label col-md-4">Contract Renewal</label>
                    <div class="col-md-8">
                        <input class="form-control input-sm"
                               placeholder="Contract Renewal"
                               th:field="*{contractRenewal}"
                               type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Do not renew</label>
                    <div class="col-md-2">
                        <input th:field="*{doNotRenew}" type="checkbox"/>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label class="control-label">Reason</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control input-sm" id="doNotRenewReason" name="doNotRenewReason">
                                <option value="">Not Applicable</option>
                                <option th:each="c:${doNotRenewReasons}" th:text="${c.description}"
                                        th:value="${c.id}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Lost Renewal</label>
                    <div class="col-md-2">
                        <input th:field="*{lostRenewal}" type="checkbox"/>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label class="control-label">Reason</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control input-sm" id="lostRenewalReason" name="lostRenewalReason">
                                <option value="">Not Applicable</option>
                                <option th:each="c:${lostRenewalReasons}" th:text="${c.description}"
                                        th:value="${c.id}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--<div class="form-group">
                  <label class="control-label col-md-4">verbal</label>
                  <div class="col-md-2">
                    <input th:field="*{verbal}" type="checkbox"/>
                  </div>
                </div>-->
                <div class="form-group">
                    <label class="control-label col-md-4" for="callbackDateTime">Call Back Date and Time</label>
                    <div class="col-md-6">
                        <input autocomplete="off" class="form-control input-sm" placeholder="Call Back Date"
                               th:field="*{callbackDateTime}" type="text"/>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-sm"
                                data-target="#callback-diary"
                                data-toggle="modal"
                                type="button">Diary
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Does your existing machine apply payments
                        automatically</label>
                    <div class="col-md-8">
                        <select class="form-control input-sm" th:field="*{machineAppliesPaymentsAutomatically}">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="notes">Notes</label>
                    <div class="col-md-8">
                        <textarea class="form-control input-sm" rows="7" th:field="*{notes}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-10">
                        <a class="btn btn-danger btn-sm" data-target="#myModal" data-toggle="modal" id="delButton"
                           sec:authorize="hasAuthority('SUPERADMIN')">Delete</a>
                        <button class="btn btn-success btn-sm" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6" th:if="${merchantServicesContract.id}">
        <div class="panel panel-info">
            <div class="panel-heading">Contract Notes</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-default pull-right" data-target="#newNoteModal" data-toggle="modal">Create new
                            note</a>
                    </div>
                </div>
                <div id="merchant-services-contract-notes-div"></div>
            </div>
        </div>
        <div class="modal fade" id="newNoteModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                        <h4 class="modal-title">New Note</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="merchantNote" name="merchantNote">
                            <input id="customer" name="customer"
                                   th:value="${merchantServicesContract.customerSite.customer.id}" type="hidden"/>
                            <input id="elecCustomerContract" name="elecCustomerContract" type="hidden" value=""/>
                            <input id="gasCustomerContract" name="gasCustomerContract" type="hidden" value=""/>
                            <input id="utilityContract" name="utilityContract" type="hidden" value=""/>
                            <input id="merchantServicesContract" name="merchantServicesContract"
                                   th:value="${merchantServicesContract.id}" type="hidden"/>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input class="form-control" id="subject" name="subject" placeholder="Subject"
                                           required="required" type="text"/>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control input-sm" id="taggedUser" name="taggedUser">
                                        <option value="">Tagged User</option>
                                        <option th:each="u:${users}" th:text="${u.firstName}+' '+${u.lastName}"
                                                th:value="${u.id}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <textarea class="form-control" cols="100" id="note" name="note"
                                              placeholder="Enter note here" required="required" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label>Completed: <input id="completed" name="completed" type="checkbox"/></label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control input-sm" id="altDueByDate" name="altDueByDate"
                                           placeholder="Due by Date" readonly="readonly"
                                           th:value="*{dueByDate != null} ? *{#dates.format(dueByDate, 'dd/MM/yyyy')}"
                                           type="text"/>
                                    <input id="dueByDate" name="dueByDate" th:value="*{dueByDate}" type="hidden"/>
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control input-sm" id="priority" name="priority">
                                        <option value="LOW">LOW</option>
                                        <option value="MEDIUM">MEDIUM</option>
                                        <option value="HIGH">HIGH</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label>Quick Win: <input id="quickWin" name="quickWin" type="checkbox"/></label>
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control input-sm" id="relatedTo" name="relatedTo">
                                        <option value="">Related to</option>
                                        <option th:each="relatedTo : ${T(mycrm.configuration.RelatedTo).values()}"
                                                th:text="${relatedTo}" th:value="${relatedTo}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <a class="btn btn-success"
                                       th:href="'javascript:saveMerchantServicesContractNote(\''+ ${merchantServicesContract.id} +'\');'">
                                        <span class="glyphicon glyphicon-save"></span> Add Note
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css}"></script>
<script>
$(document).ready(function() {
  $("#permit").change(function() {
    var sel = $(this).val();
    $("#" + sel).modal();
  });
});


</script>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" class="form-horizontal" action="" enctype="multipart/form-data"
                      id="upload_file_form_1" th:object="${uploadMerchantDocument}">
                    <input id="customer-id" name="customer" th:value="${customerSite.customer.id}" type="hidden"/>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="fileTitle1">File Title</label>
                        <div class="col-sm-8">
                            <input class="form-control input-sm" id="fileTitle1" name="fileTitle"
                                   placeholder="File Title" required="required" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="validFrom">Valid From</label>
                        <div class="col-sm-8">
                            <input class="form-control input-sm"
                                   placeholder="Valid From" id="validFrom" name="validFrom" type="date"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="validTo">Valid To</label>
                        <div class="col-sm-8">
                            <input class="form-control input-sm"
                                   placeholder="Valid To" id="validTo" name="validTo" type="date"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="file1">Upload your file:</label>
                        <div class="col-sm-8">
                            <input accept="*" class="form-control input-sm" id="file1" name="file"
                                   placeholder="Upload File" type="file"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8">
                            <button class="btn btn-success" type="submit">Upload</button>
                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>
<div class="hide-answer modal fade" id="LIMITED_COMPANY" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Limited Company</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" class="form-horizontal" id="upload_file_form_limited" th:object="${limitedCompany}">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="fileTitle">Company Reg</label>
                        <div class="col-sm-8">
                            <input class="form-control input-sm" id="companyReg" name="companyReg"
                                   placeholder="company reg" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="fileTitle">VAT</label>
                        <div class="col-sm-8">
                            <input class="form-control input-sm" id="vat" name="vat" placeholder="vat" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <button class="btn btn-success" type="submit" id="save">save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="hide-answer modal fade" id="PARTNERSHIP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Partnership</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" class="form-horizontal" id="upload-file-form-partnership"
                      th:object="${partnership}">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Name</label>
                        <div class="col-sm-8">
                            <input class="form-control input-sm" placeholder="company reg" id="name" name="name"
                                   type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Address</label>
                        <div class="col-sm-8">
                            <input class="form-control input-sm" placeholder="address" id="address" name="address"
                                   type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">date of birth</label>
                        <div class="col-sm-8">
                            <input class="form-control input-sm" placeholder="Date Of Birth" id="dateOfBirth"
                                   name="dateOfBirth" type="date"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">ID</label>
                        <div class="col-sm-8">
                            <input class="form-control input-sm" placeholder="Id" id="partnershipID"
                                   name="partnershipID" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Contact Number</label>
                        <div class="col-sm-8">
                            <input class="form-control input-sm" placeholder="contact number" id="contactNumber"
                                   name="contactNumber" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Email Address</label>
                        <div class="col-sm-8">
                            <input class="form-control input-sm" placeholder="email address" id="emailAddress"
                                   name="emailAddress" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Partnership percentage</label>
                        <div class="col-sm-8">
                            <input class="form-control input-sm" placeholder="0.0" id="partnershipPercentage"
                                   name="partnershipPercentage" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <button class="btn btn-success" type="submit" id="save">save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="hide-answer modal fade" id="SOLE_TRADER" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sole Trader</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" class="form-horizontal" id="upload-file-form-sole" th:object="${soleTrader}">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Name</label>
                        <div class="col-sm-8">
                            <input class="form-control input-sm" placeholder="company reg" id="soleName" name="soleName"
                                   type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">date of birth</label>
                        <div class="col-sm-8">
                            <input class="form-control input-sm" placeholder="Date Of Birth" id="dateOfBirth"
                                   name="dateOfBirth" type="date"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Home Address</label>
                        <div class="col-sm-8">
                            <input class="form-control input-sm" placeholder="address" id="address" name="address"
                                   type="text"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8">
                            <button class="btn btn-success" type="submit" id="save">save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
document.querySelector("#upload_file_form_1").addEventListener('submit', (e) => {
console.log("passed selector");
var formData = new FormData();
var file = $('#file1')[0].files[0];
var fileTitle = $('#fileTitle1').val();
var validFrom = $('#validFrom').val();
var validTo = $('#validTo').val();
var customer = $('#customer-id').val();
console.log($('#validFrom').val());
formData.append('file', file);
formData.append('fileTitle', fileTitle);
formData.append('validFrom', validFrom);
formData.append('validTo', validTo);
formData.append('customer', customer);
	$.ajax({
		type:"POST",
		url:"/uploadMerchantDocument",
		data:formData,
		cache:false,
		dataType:"json",
		contentType:false,
		processData:false,
		success:function(data) {
		$('#exampleModal').modal('hide');
		$("#upload_file_form_1").trigger("reset");
		}
		});
		$('#exampleModal').modal('hide');
		$("#upload_file_form_1").trigger("reset");
        e.preventDefault();
});


document.querySelector("#SOLE_TRADER").addEventListener('submit', (e) => {
     $.post('/soleTrader',$('#upload-file-form-sole').serialize(),function (data) {
        $('#SOLE_TRADER').modal('hide');
    });
    e.preventDefault();
});

document.querySelector("#LIMITED_COMPANY").addEventListener('submit', (e) => {
     $.post('/limitedCompany',$('#upload_file_form_limited').serialize(),function (data) {
        $('#LIMITED_COMPANY').modal('hide');
    });
    e.preventDefault();
});

document.querySelector("#PARTNERSHIP").addEventListener('submit', (e) => {
     $.post('/partnership',$('#upload-file-form-partnership').serialize(),function (data) {
     $("#upload-file-form-partnership").trigger("reset");
     toaster.success("hello","hello",{
     closeButton:true
     });
    });

    e.preventDefault();
});







</script>
</body>
<div th:replace="../static/fragments/layout :: callbackDateTime"/>
</html>



