<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../static/fragments/layout :: site-head">
</head>
<body>
<form class="form-horizontal" th:object="${terminationTask}" th:action="@{/updateTermination}" method="post">
  <input th:field="*{id}" type="hidden"/>
  <input id="supplyType" name="supplyType" th:value="${param.supplyType[0]}" type="hidden"/>
  <h4>
    Account Number: <span class="label label-default" th:text="${terminationTask.accountNumber}">Account Number</span>
  </h4>
  <h4 th:if="${param.supplyType[0] == 'ELEC' AND param.supplyType[0] == 'GAS'}">
    Business Name: <span class="label label-primary" th:text="${terminationTask.customer.businessName}">Business Name</span>
  </h4>
  <h4 th:if="${param.supplyType[0] != 'ELEC' AND param.supplyType[0] != 'GAS'}">
    Business Name: <span class="label label-primary" th:text="${terminationTask.customerSite.customer.businessName}">Business Name</span>
  </h4>
  <div class="form-group">
    <div class="col-sm-12">
      <div class="checkbox">
        <label class="form-check-label">
          <input th:field="*{currentSupplyTerminated}" type="checkbox"/>Current Supply Terminated</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <button class="btn btn-success btn-xs">Save Record</button>
      <a class="btn btn-warning btn-xs" href="/admin/tasks/index">Back</a>
    </div>
  </div>
</form>
</body>
</html>
