<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="../static/fragments/layout :: site-head">
<title>Brokers</title>
</head>
<body>
	<header th:replace="../static/fragments/layout :: header" />
	<div class="container">
		<h1>Suppliers</h1>
		<div class="row">
			<div class="col-md-offset-10">
				<a class="btn btn-info" href="/admin/supplier/newsupplier">Create New Supplier</a>
			</div>
		</div>
		<p></p>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped table-hover table-condensed">
					<tr th:each="s:${findAll}">
						<td th:text="${s.businessName}">Business Name</td>
						<td><a th:href="@{/admin/supplier/view/{id}/(id=${s.id})}">View Supplier</a></td>
						<td><a th:href="@{/admin/supplier/edit/{id}/(id=${s.id})}">Edit Supplier</a></td>
						<td th:text="${#dates.format(s.dateCreated, 'dd/MM/yyyy')}">22-June-2017 :-)</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="../static/fragments/layout :: footer" />
</body>
</html>